:host {
  display: block;
}

.hero {
  width: 100%;
  line-height: 0;
}

.hero__imagen {
  width: 100%;
  height: 560px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 860px) {
  .hero__imagen {
    height: 400px;
  }
}

@media (max-width: 480px) {
  .hero__imagen {
    height: 300px;
  }
}